<%= form_with(model: @event, url: events_path, method: :post) do |form| %>
  <%= form.hidden_field :event_type, value: @event_type %>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Event' %>
    <%= link_to 'Cancel', root_path, class: 'button' %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

