<!DOCTYPE html>
<html>
  <head>
    <title>Iter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="flash-notice" class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div id="flash-alert" class="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          var flashNotice = document.getElementById('flash-notice');
          if (flashNotice) {
            flashNotice.parentNode.removeChild(flashNotice);
          }
          
          var flashAlert = document.getElementById('flash-alert');
          if (flashAlert) {
            flashAlert.parentNode.removeChild(flashAlert);
          }
        }, 15000); // 15 seconds
      });
    </script>
  </body>
</html>
